# Ignore virtual environment directory
venv/

# Ignore pycache directories (compiled Python files)
**/__pycache__/
**/*.pyc
**/*.pyo

# Ignore Python distribution files
*.egg
*.egg-info
dist/
build/
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment-specific files
*.env
*.venv

# Ignore IDE files
.vscode/
.idea/

# Ignore output files and logs
output/
*.mp3
*.txt

# Ignore config and package management files
*.cfg
*.ini
*.swp
